.cart-block {
  display: flex;
  align-items: center;
  position: relative;
}

.circly {
  position: absolute;
  bottom: 30px;
  left: 15px;
  font-size: 12px;
  padding: 0px 3px;
  background: red;
  border-radius: 30px;
}
.cart-block__totalprice {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.cart-block__icon {
  cursor: pointer;
  position: relative;
}
